body{
    background-color: #404258;
}

table.tranmissionTable {
    background-color: #EEEEEE;
    border-collapse: collapse;
}
table.tranmissionTable td, table.tranmissionTable th {
    border: 1px solid #222222;
    width: 30px;
    height: 20px;
}

.container{
    margin: auto;
    width: 80%;
    /* height: 500px; */
    border: 3px solid green;;
}
.container_top{
    position: relative;
    margin: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tranmissionTable{
    padding: 10px;

}

.container_bottom{
    display: flex;
    justify-content: space-between;
}

.container_bottom .container_bottom_left{
    border-radius: 25px;
    background: #EDEDED;
}

.container_bottom .container_bottom_right{
    border-radius: 25px;
    background: #EDEDED;
}

.numbers h1{
    display: inline-block;
    padding: 5px;
}

.container_bottom .container_bottom_right button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 40px;
    justify-self: center;
}


#station_img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 40px;
    padding: 0;
}

.diagram_container{
    margin: auto;
    border-radius: 40px;
    width: 50%;
    background-color: #277BC0;
    text-align: center;
    color: whitesmoke;
}

#diagram_plotter{
    margin: auto;
    padding: 20px;
}