table.tranmissionTable {
    border-collapse: collapse;
}
table.tranmissionTable td, table.tranmissionTable th {
    border: 1px solid #000000;
    width: 30px;
    height: 20px;
}

.container{
    margin: auto;
    width: 80%;
    /* height: 500px; */
    border: 3px solid green;;
}
.container_top{
    position: relative;
    margin: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tranmissionTable{
    padding: 10px;

}

.container_bottom{
    display: flex;
    justify-content: space-between;
}

.container_bottom .container_bottom_left{
    background: red;
}

.container_bottom .container_bottom_right{
    background: yellow;
}

.numbers h1{
    display: inline-block;
    padding: 5px;
}

.container_bottom .container_bottom_right button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 40px;
    justify-self: center;
}


#station_img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 40px;
    padding: 0;
}

.diagram_container{
    border: 2px solid #14a3c7;
}